footer {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: hsl(0, 0%, 46%);
    padding: 20px;
}

footer img {
    margin: 10px;
    width: 30px;
    height: 30px;
}

.footerContent {
    margin: 20px;
    color: white;
}