.header {
    box-shadow: 0 15px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: linear-gradient(90deg, hsl(0, 0%, 46%), hsl(0, 63%, 46%));
    padding: 5px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    gap: 60px;
}

.header h2 {
    color: white;
    font-size: 2em;
}

.logoutBtn {
    background-color: hsl(0, 57%, 61%);
    border: none;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 1em;
    margin: 0;
    padding: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.logoutBtn:hover {
    background-color: hsl(0, 15%, 80%);
}

.headerLoggedIn {
    display: flex;
    align-items: center;
    gap: 20px; /* Spazio tra gli elementi */
}

.logo {
    height: 95px;
}
