.header {
    box-shadow: 0 15px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: linear-gradient(90deg, hsl(0, 0%, 46%), hsl(0, 63%, 46%)); /* Aggiungi il gradiente qui */
    padding: 5px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.header h2 {
    color: white;
    font-size: 2em;
    margin-left: 50px;
}

.logo {
    height: 55px;
    margin-left: 10px;
}