.heroSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/backgroundLP.jpg');
    background-size: cover;
    background-position: center;
    padding: 10px;
    margin-top: 50px;
    min-height: 100vh;
}

.heroImage {
    opacity: 0.7;
    margin: 100px;
    margin-bottom: 10px;
    border-radius: 100px;
}

.signInBtn {
    border: 1px solid black;
    font-size: 24px;
    width: 150px;
    height: 70px;
    color: white;
    padding: 15px;
    margin: 5px;
    border-radius: 5px;
    background-color: hsl(0, 41%, 48%);
}

.signInBtn:hover {
    cursor: pointer;
    transition: 0.3s;
    background-color: hsl(0, 76%, 18%);
}

.loginBtn {
    border: 1px solid black;
    font-size: 24px;
    width: 150px;
    height: 70px;
    border-radius: 5px;
    padding: 15px;
    margin: 5px;
    background-color: hsl(0, 5%, 92%);
}

.loginBtn:hover {
    cursor: pointer;
    transition: 0.3s;
    background-color: hsl(0, 1%, 72%);
}

form {
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 70px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 15px 8px 0 rgba(0.8, 0.8, 0.8, 0.8);
}

form input {
    background-color: hsl(0, 26%, 57%);
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input::placeholder {
    color: white;
}

form label {
    font-size: 18px;
}

.rewindBtn {
    border: 1px solid rgb(141, 45, 45);
    border-radius: 5px;
    padding: 10px;
    font-size: 24px;
    width: 150px;
    height: 70px;
    color: white;
    margin: 5px;
    background-color: hsl(0, 1%, 32%);
}

.rewindBtn:hover {
    cursor: pointer;
    transition: 0.3s;
    background-color: hsl(0, 1%, 72%);
}


.selectRole {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: white;
    color: #333;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.selectRole:focus {
    border-color: #4caf50;
    outline: none;
}

.roles {
    background-color: white;
    color: #333;
}