.sectionsContainer {
    display: flex;
    justify-content: space-evenly;
    margin: 8%;
    background: linear-gradient(90deg, rgb(255, 148, 148) 0%, rgb(255, 255, 255) 100%);
    padding: 50px;
    border-radius: 10px;
    position: relative;
}

.sectionColumn {    
    display: flex;
    flex-direction: column;
}

.backButton {
    position: fixed;
    z-index: 1000;
    left: 93%;
    top: 2.5%;
    padding: 20px;
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.backButton:hover {
    background-color: hsl(0, 100%, 88%);
}

.chartContainer {
    width: 80%;
    margin-bottom: 40px;
}

.iconContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.activeIcon {
    color: #007bff;
    cursor: pointer;
    margin: 0 10px;
    font-size: 24px;
}

.inactiveIcon {
    color: #ccc;
    cursor: pointer;
    margin: 0 10px;
    font-size: 24px;
}

.removeStaffBtn{
    font-size: 16px;
    width: 10%;
    padding: 10px;
    margin-bottom: 10px;
    height: 10%;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 0px;
    background: linear-gradient(90deg, hsla(0, 84%, 56%, 0.692), hsla(0, 0%, 80%, 0.692));
}

.staffRole{
    font-size: 20px;
    font-style: italic;
}

.managerBtn {
    font-size: 24px;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 0px;
    background: linear-gradient(90deg, hsla(0, 100%, 56%, 0.761), hsla(0, 0%, 97%, 0.692));
    background-size: 150% 50%; /* Estende il gradiente oltre la larghezza del bottone */
    background-position: left; 
    transition: background-position 1s ease;
}

.managerBtn:hover {
    background-position: right; /* Sposta il gradiente a destra durante l'hover */
}

.staffContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(90deg, hsla(0, 84%, 56%, 0.692), hsla(0, 0%, 80%, 0.692));
    border: 2px solid white;
    height: 0%;
    padding: 0px;
}

.staffName{
    font-size: 24px;
    font-weight: bold;
}

h2 {
    color: hsl(0, 38%, 35%);
}

h3 {
    color: rgb(128, 76, 76);
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.newStaffInput {
    font-size: 18px;
    padding: 10px;
    margin-bottom: 20px;
    width: 95%;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
}

.newStaffInput:focus {
    border-color: #007bff;
    outline: none;
}