.menuEditorContainer {
  margin-top: 100px;
  display: flex;
  height: 100%;
  gap: 20px; 
  padding: 20px;
  background-color: #a3a3a324;
  min-height: 100vh;
}

.menuForm,
.menuSection {
  flex: 1; 
  background-color: #f6f4f4; 
  padding: 25px; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.menuContainer {
  background-color: #ffffff;
  max-height: 500px; 
  padding: 20px;
  width: 600px;
  height: auto; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #000000; 
  overflow-y: auto; 
}

.menuList {
  list-style-type: none; 
  padding: 0;
}

.menuList li {
  padding: 10px;
  border-bottom: 1px solid #a5a5a582; 
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

.menuList li:last-child {
  border-bottom: none; 
}

.menuFormTitle {
  font-size: 26px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #000000;
}

.menuFormGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  margin-bottom: 15px;
}

.menuFormLabel {
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: 500;
  color: #000000; 
  text-align: left;
}

.menuFormInput {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #591010;
  border-radius: 5px;
  background-color: #ffffff;
  color: #000000; 
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

.menuFormInput:focus {
  border-color: #b6b6b6; 
  background-color: #ffffff;
  outline: none;
}

.menuFormToggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.menuFormToggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.menuFormToggleSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #a05c5c;
  border: 2px solid #ff0c0c7d;
  border-radius: 34px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.menuFormToggleSlider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #f6f6f6;
  border-radius: 50%;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.menuFormToggle input:checked + .menuFormToggleSlider {
  background-color: #64d970;
  border-color: #074813;
}

.menuFormToggle input:checked + .menuFormToggleSlider::before {
  background-color: #fff;
  transform: translateX(26px);
}

.menuFormSubmitButton,
.menuFormBackButton {
  display: inline-block;
  width: 100%;
  max-width: 300px;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 15px;
}

.menuFormSubmitButton {
  background-color: #db3434a7;
  color: #fff;
}

.menuFormBackButton {
  background-color: #e8e8e83c;
  color: #fff;
}

.menuFormSubmitButton:hover {
  background-color: #d4b2b2;
}

.menuFormBackButton:hover {
  background-color: #c0392b;
}

.menuEditButton {
  margin-left: 10000px; 
  padding: 8px 15px;
  font-size: 14px;
  font-weight: bold;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.menuChange {
  margin-left: 10px; 
  padding: 5px 16px; 
  border-radius: 10px; 
  background-color: #a05c5c;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  display: inline-block;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.menuSave{
  margin-top: 10px;
  margin-left: 10px; 
  padding: 5px 16px; 
  border-radius: 10px; 
  background-color: #a05c5c;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  display: inline-block;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.menuChange:hover {
  background-color: #8c4d4d; 
  transform: scale(1.05); 
}
