.backBtn {
    width: 100px;
    height: 50px;
    position: fixed;
    z-index: 1000;
    left: 90%;
    top: 1%;
    padding: 10px 20px;
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
}

.backBtn:hover {
    background-color: hsl(0, 100%, 88%);
}

.container {
    display: flex;
    gap: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    max-width: 1200px;
    margin: 0 auto;
}

.tableSelector {
    flex: 1;
}

.tableSelector ul {
    list-style-type: none;
    padding: 0;
}

.tableSelector li {
    margin-bottom: 10px;
}

.tableBtn {
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.tableBtn:hover {
    background-color: #e0e0e0;
}

.selectedTableBtn {
    background-color: #ffcccc; /* Colore rosso chiaro */
}

.ordersContainer {
    margin-top: 200px;
    flex: 2;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
}

.orderItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.discountButtons {
    display: flex;
    gap: 10px;
}

.discountButtons button {
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.discountButtons button:hover {
    background-color: #e0e0e0;
}